<div class="create-game-body">
    <div class="title">Создание игрового стола</div>
    <div class="info">
        <label for="bet">Ставка</label>
        <input id="bet" class="bet" type="number" min="<%= minBet %>" max="<%= maxBet %>" value="<%= minBet %>"/>
    </div>
    <div class="description">
        <div class="minBet">Минимальная ставка: <%= minBet %> монет</div>
        <div class="maxBet">Максимальная ставка: <%= maxBet %> монет</div>
    </div>
    <div class="buttons-wrap">
        <a href="#" class="btn create">Создать</a>
    </div>
</div>
